.todo-row {
    display: grid;
    grid-template-columns: 75% 3% 10%;
    font-size: 1.5rem;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
        90deg,
        rgba(255, 118, 20, 1) 0%,
        rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    transition: .1s ease-in-out;
    animation: opacity .15s ease-in-out;
}

.todo-row:nth-child(4n + 1) {
background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
}

.todo-row:nth-child(4n + 2) {
background: linear-gradient(
        90deg,
        rgba(255, 12, 241, 1) 0%,
        rgba(250, 0, 135, 1) 100%
    );
}

.todo-row:nth-child(4n + 3) {
background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%,
        rgba(17, 122, 255, 1) 100%
    );
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

@keyframes opacity {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@keyframes opacity1 {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}