* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  position: relative;
}
@media (max-width:567px) {
  body {
    background:rgb(86, 99, 215);
  }
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  z-index: 0;
}

@media (max-width:567px) {
  .todo-app {
    width: 97%;
  }
}

h1,.emptyTodoText {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .panel {
    transform: translate(70px,-30%);
  }
}
.show {
  display: none;
}